.toplevel_page_status-tracker #wpcontent {
  background: #fff;
  height: 1000px;
}

button .components-spinner {
  width: 15px;
  height: 15px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

#status-tracker {
  max-width: 800px;
}

#status-tracker ul,
#status-tracker ul li {
  list-style-type: disc;
}

#status-tracker .components-search-control__input {
  height: 36px;
  margin-left: 0;
}

#status-tracker .list-controls {
  display: flex;
  width: 100%;
}

#status-tracker .list-controls .components-search-control {
  flex-grow: 1;
}

#status-tracker table td {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ddd;
}

#status-tracker .components-base-control__field {
  margin: 0;
}

#status-tracker .status-code-0 {
  background-color: #fff;
}
#status-tracker .status-code-1 {
  background-color: #fcf4cc;
}
#status-tracker .status-code-2 {
  background-color: #cce2e3;
}
#status-tracker .status-code-3 {
  background-color: #dae9da;
}

#status-tracker .filter-bar {
  display: flex;
  width: 100%;
  gap: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
}
